{
	"functionParentheses": false,
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 120,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"printWidth": 9999
			}
		}
	]
}
